*{
    padding: 0;
    margin: 0;

}

body{
    background-color: black;

}



.main{
    background-image: url(header-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px,100vw);
    height: 70vh;
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0%;

}

nav{
    display: flex;
   max-width: 80vw;
   margin: auto;
   justify-content: space-between;
    align-items: center;
    /* height: 62px; */

}

nav img{
     color: red;
     width: 160px ;
     margin-top: 10px;
     position: relative;
     z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    gap: 23px;
    padding: 0 30px;
   
}

.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    
}

.hero> :nth-child(2){
     font-weight: 400;
     font-size: 24px;
     text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn{
padding: 3px 8px;
font-weight: 400;
background-color: rgba(248, 243, 243, 0.401);
color: white;
border: 1px solid white;
border-radius: 4px;
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;
}

.btn-red{
   background-color: red;
   padding:3px 24px;
   color: white;
   font-size: 20px;
   border-radius: 4px;
   font-weight: 400;
}

.main input{
    padding:7px 101px 8px 14px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(179, 177, 177,0.5);
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn red-sm{
    background-color: red;
    color: white;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}

.secImg{
    position: relative;
}

.secImg img{
     width: 30vw;

}


section.first>div{
    display: flex;
    flex-direction: column;
}

section.first>div:nth-child(1){
    font-size: 48px;
    font-weight:bolder;
}

section.first>div:nth-child(2){
    font-size: 24px;
    
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
    
}

.faqbox:hover{
   
      background-color: #414141;
      color: white;
}


.faqbox{
    transition: all 1s ease-out;
    color: white;
    font-size: 24px;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;

}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 14px;
   

}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer a{
    /* text-decoration: none; */
    color: white;
    font-size: 14px;
}

footer .question{
    padding: 34px 0;
}